*{
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-btn: #67676763;
    --bg-btn-secundary: #9BF00B;
}

body{
    background-color: #0D100C;
    width: 100%;
}